*,
*::before,
*::after {
    /* box-sizing: border; */
}

/* Custom Properties */
:root {
    background-color: var(--clr-white);
    --ff-primary: 'Sour', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-dark: #303030;
    --clr-blue: #011E62;
    --clr-red: #D50132;
    --clr-white: #f6f6f6;
    --clr-gray: #e7e7e7;


    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em .75em rgba(0, 0, 0, .25), 
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);

    --color-bg: #1f1f38;
    --color-bg-variant: #696969;
    --color-primary: #C0C0C0;
    --color-primary-variant: #2F4F4F;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
    --transition: all 600ms ease;
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}


/* Gernal Styles */
html {
    scroll-behavior: smooth;
    
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    
}

strong {
    font-weight: var(--fw-bold);
}

.mainHeader{
    margin-top: 2rem;
    display: flex;
    flex-wrap: nowrap; 
    margin-left: 4rem;

}

.mainHeader img{
    height: 50px;
    width: auto;
    padding-right: 4rem;
}

.fixed-header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
    transition: all 600ms ease;
}

.logo{
    padding-bottom: 2em;
}

  
.nav-links-header a{
    margin-right: 2rem; 
    color: var(--clr-blue);
    font: var(--ff-primary);
    font-weight: bold;
    text-decoration: none;
    position: right;
    padding-left: 17rem;
    font-size: larger;
}

.nav-links-header{
    position: relative;
    margin-left: 15px;
}

.BlueBarHeader {
    /* margin-bottom: 1rem; */
    background: linear-gradient(45deg,  var(--clr-blue), lightgrey);
    height: 6rem;
    text-align: left; /* Push the text to the right */
    padding-left: 125px; /* Add padding on the left */
    padding-top: .5rem;
}

.BlueBarHeader h2 {
    margin-bottom: 0.2rem;
    color: var(--clr-white);
    
}

.BlueBarHeader h4 {
    margin-top: 0;
    color: var(--clr-white);
}

.lowerHeader{
    background: linear-gradient(45deg,  var(--clr-blue), lightgrey);
    /* margin-top: -5rem; */
}

.BlueHeader-Links a{
    margin-right: 1rem; 
}

.CodingPicture img{
    padding-top: 13rem;
    height: 600px;
    width: 100%;
}

.search-description p{
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 35rem;
    padding-top: 3rem;
    padding-right: 35rem;
    text-align: center;
    font-weight: bold;

}


.BlueHeader-Links a{
color: #f6f6f6;
font: var(--ff-primary);
font-weight: bold;
text-decoration: none;
font-size: 1.75rem;
}

.BlueHeader-Links i{
    font-size: x-large;
    padding: .5rem;
}

.BlueHeader-Links{
text-align: center;
padding: 10px
}

footer{
background: var(--clr-blue);
padding: 3rem 0;
text-align: center;
font-size: .9rem;
margin-top: 7rem;   
}

footer a{
color: var(--color-white);
}

.footer__logo{
font-size: 2rem;
font-weight: 500;
margin-top: 2rem;
display: inline-block;
}

.permalinks{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 2rem;
margin: 0 auto 3rem;
}

.footer__copyright{
margin-bottom: 4rem;
color: var(--color-white);
}

.buttonlinks{
background-color: transparent;
border-color: transparent;
}

.BlueHeader-Links i:hover{
    transform: rotate(360deg);
    transition: var(--transition);
}

.class-section1 {
    margin-top: 20rem;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-body{
    background-color: green;
    
}
.info-img{
    background-color: black;
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 50px;
    width: 50px;
}

/* media quires- small */

@media screen and (max-width: 600px){
    .permalinks{
    flex-direction: column;
    gap: 1.5rem;
    }
}

.nav-links-header li{
    float: left;
    list-style: none;
    position: relative;
}

.nav-links-header li a{
    display: block;
    color: #011E62;
    font-size: 24px;
    padding: 22px 14px;
    text-decoration: none;
    overflow-x: hidden;
    padding-left: 50px; /* add left padding */
}

.nav-links-header li ul{
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    /* padding: 10px; */
    border-radius: 0px 0px 4px 4px;
    max-height: 200px; /* set a maximum height for the dropdown */
    overflow-y: auto; /* allow vertical scrolling */

}

.nav-links-header li ul::-webkit-scrollbar {
    display: none; /* hide the scrollbar */
  }

.nav-links-header li:hover ul{
    display: block;

}


.nav-links-header li ul li { 
   /* width: 90px; */
   border-radius: 4px;

}

.nav-links-header li ul li a{ 

    padding: 0 0;

}
 
.nav-links-header li ul li a:hover{ 
    background-color: lightgrey;
    
}

.nav-links-header li ul li:last-child{
    border-bottom: none;
}


.search-bar-div{
  max-width: 450px;
  margin: 150px auto;
}
.search-bar-div .searchInput{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}
.searchInput input{
  height: 55px;
  width: 82%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
.searchInput.active input{
  border-radius: 5px 5px 0 0;
}
.searchInput .resultBox{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}
.searchInput.active .resultBox{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}
.resultBox li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}
.searchInput.active .resultBox li{
  display: block;
}
.resultBox li:hover{
  background: #efefef;
}
.searchInput .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}