*,
*::before,
*::after {
    /* box-sizing: border; */
}

/* Custom Properties */
:root {
    background-color: var(--clr-white);
    --ff-primary: 'Sour', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-dark: #303030;
    --clr-blue: #011E62;
    --clr-red: #D50132;
    --clr-white: #f6f6f6;
    --clr-gray: #e7e7e7;


    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em .75em rgba(0, 0, 0, .25), 
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);

    --color-bg: #1f1f38;
    --color-bg-variant: #696969;
    --color-primary: #C0C0C0;
    --color-primary-variant: #2F4F4F;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
    --transition: all 600ms ease;
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}


/* Gernal Styles */
html {
    scroll-behavior: smooth;
    
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    
}

strong {
    font-weight: var(--fw-bold);
}

.mainHeader{
    margin-top: 2rem;
    display: flex;
    flex-wrap: nowrap; 
    margin-left: 4rem;

}

.mainHeader img{
    height: 50px;
    width: auto;
    padding-right: 4rem;
}

  
.nav-links-header a{
    margin-right: 3rem; /* Adjust as needed */
    color: var(--clr-blue);
    font: var(--ff-primary);
    font-weight: bold;
    text-decoration: none;
}

.BlueBarHeader {
    /* margin-bottom: 1rem; */
    background: linear-gradient(45deg,  var(--clr-blue), lightgrey);
    height: 6rem;
    text-align: left; /* Push the text to the right */
    padding-left: 125px; /* Add padding on the left */
    padding-top: .5rem;
}

.BlueBarHeader h2 {
    margin-bottom: 0.2rem;
    color: var(--clr-white);
    
}
.BlueBarHeader h4 {
    margin-top: 0;
    color: var(--clr-white);
}

.lowerHeader{
    background: linear-gradient(45deg,  var(--clr-blue), lightgrey);
    /* margin-top: -5rem; */
}

.BlueHeader-Links a{
    margin-right: 1rem; 
}

.CodingPicture img{
    height: 600px;
    width: 100%;
}

.search-bar {
    margin: 0 auto;
    /* margin-top: 1rem; */
    max-width: 500px; 
    position: center;
    resize: none;    
}
  
  .search-bar input[type="text"] {
    border: none;
    border-radius: 30px;
    padding: 2px;
    font-size: 16px;
    /* background-color: #grey; */
    background-image: url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_search_48px-512.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
    transition: all 0.3s ease-in-out;
    width: 80%;
    height: 50px;
    text-align: center;
    color: grey;
  }
  
  .search-bar input[type="text"]::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_search_48px-512.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
  }

  .search-bar input[type="text"]:focus {
    outline: none; 
    /* background-color: transparent; */
  }

  /* .search-bar input[type="text"]::placeholder {
    color: blue; /* Add placeholder text color */
  .BlueHeader-Links a{
    color: #f6f6f6;
    font: var(--ff-primary);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.75rem;
  }

  .BlueHeader-Links i{
    font-size: x-large;
    padding: .5rem;
  }

  .BlueHeader-Links{
    text-align: center;
    padding: 10px
  }
footer{
    background: var(--clr-blue);
    padding: 3rem 0;
    text-align: center;
    font-size: .9rem;
    margin-top: 7rem;   
}

footer a{
    color: var(--color-white);
}

.footer__logo{
    font-size: 2rem;
    font-weight: 500;
    margin-top: 2rem;
    display: inline-block;
}

.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__copyright{
    margin-bottom: 4rem;
    color: var(--color-white);
}

.buttonlinks{
    background-color: transparent;
    border-color: transparent;
}

 
 /* media quires- small */
 
 @media screen and (max-width: 600px){
     .permalinks{
        flex-direction: column;
        gap: 1.5rem;
     }
     
 }